.e {
    display: flex;
    height: 100vh;
}

.e-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    font-weight: 300;
    padding: .2rem 0;
}

ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.e-left p{
    color: #0083ff;
}

.e-icon {
    color: #dc3545;
    font-size: 30px;
}

.icon-secondary > *{
    padding: 30px;
}

@media (max-width: 992px) {
    .e{
        height: auto;
        padding: 40px 0;
    }
    
    .e-icon{
        font-size: 25px;
    }
}

@media (max-width: 600px) { 
    .e{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }

    .e-right{
        order: -1;
    }

}